<h1 style="margin: 15px;">Editar Nota</h1>

<%= render 'form', notepad: @notepad %>

<%= link_to 'Show', @notepad, class: 'btn btn-secondary' %>
<%= link_to 'Back', notepads_path, class: 'btn btn-dark' %>
