<div class="div-index">
  <div class="card text-white bg-dark mb-1" style="width: 50rem;">
    <div class="card-header">Projeto: Bloco de notas</div>
    <div class="card-body">
      <h5 class="card-title">Quem sou eu?</h5>
      <p class="card-text">
        Meu nome é Maria Clara, tenho interesse na área de tecnologia e busco sempre aprimorar meus estudos, tanto com embasamento teórico, quanto com projetos.<br/>
        Se você chegou aqui, é porque esse projeto foi destinado a um teste!<br/>
        Nele você encontra operações de:<br/>
        - Criar nota;<br/>
        - Excluir nota;<br/>
        - Mostrar todas as notas;<br/>
        - Procurar nota;<br/>
        A versão desse teste é a 1.0.0
      </p>
    </div>
  </div>
</div>