<h1 style="margin: 10px;">Seja bem vindo(a)!</h1>
<div class="container">
  <div class="card text-white bg-dark mb-1" style="width: 40rem;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Para navegar, utilize a navbar acima</h5>
      <p class="card-text">
        O App de bloco de notas é voltado para organização pessoal.<br/>
        Aqui, você poderá anotar listas ou lembretes para ler novamente depois.<br/>
        Tenha uma boa navegação!
      </p>
    </div>
  </div>
</div>